<div id="welcome">
	<h2>Siebel Scholars</h2>

	<div class='span-16'>
		<p>The <%= link_to 'Siebel Scholars', 'http://www.siebelscholars.com/' %> program was established by the Siebel Foundation in 2000 to recognize the most talented students at the world’s leading graduate schools of business and computer science in ten universities. In 2009 bioengineering was added as a new program in five universities, including <%= link_to 'UCSD', 'http://www.be.ucsd.edu' %>, <%= link_to 'Johns Hopkins University', 'http://www.bme.jhu.edu/' %>, and three of the ten universities in the other two disciplines. Each of the leading universities chosen for the program receives more than $2 million in grant for the selection of five graduate students on the basis of outstanding academic performance and qualities of leadership to receive the $35,000 scholarship awards.</p>

		<p>The Siebel Scholarship awards at UCSD are administered by the <%= link_to 'Institute of Engineering in Medicine (IEM)', 'http://iem.ucsd.edu' %> and the <%= link_to 'Jacobs School of Engineering (JSOE)', 'http://www.jacobsschool.ucsd.edu/' %> to reward <u>academic excellence and leadership achievement in the discipline of bioengineering</u> for Ph.D. students in all departments in JSOE.</p>

		<p>The Siebel Scholars community, consisting of over 600 Scholars, fosters personal leadership, academic achievement, and the collaborative search for solutions to pressing societal problems. Siebel Scholars are key advisors to the Siebel Foundation, guiding the development of innovative programs the Foundation initiates. The annual Siebel Scholars conference and ongoing planning sessions throughout the year are an integral part of the Siebel Scholars program.</p>
	</div>

	<div class='span-8 last'>
		<div id="foundation">
			<%= image_tag "funding.png" %>
			<h4>THE SIEBEL FOUNDATION</h4>
			<p>Established as a private foundation in 1996, the <%= link_to 'Siebel Foundation', 'http://www.fvgroup.com/philanthropy' %> is a nonprofit, public benefit corporation. Its mission is to support projects and organizations that work to improve the quality of life, environment, and education of its community members.</p>
		</div>
	</div>
</div>