<%= form_for(@nomination, :html => { :multipart => true }) do |f| %>
	<% if @nomination.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@nomination.errors.count, "error") %> prohibited this nomination from being saved:</h2>
			<ul>
				 <% @nomination.errors.full_messages.each do |msg| %>
				 	<li><%= msg %></li>
				 <% end %>
			</ul>
		</div>
	<% end %>

		<div class='padded'>
			<div>
				<h2>Nominee</h2>
				<small><strong>* denotes required fields</strong></small>
			</div>
			
			<hr />

			<div class='span-8'>
				<%= f.label :nominee_firstname, "Nominee First Name*" %><br />
				<%= f.text_field :nominee_firstname %>
			</div>
			<div class='span-8'>
				<%= f.label :nominee_lastname, "Nominee Last Name*" %><br />
				<%= f.text_field :nominee_lastname %>
			</div>
			<div class='span-8 last'>
				<%= f.label :nominee_department, "Nominee Department*" %><br />
				<%= f.text_field :nominee_department %>
			</div>
		</div>

		<hr class='padded'/>

		<div class='padded'>
			<h3>UCSD Contact Info</h3>

			<div class='span-8'>
				<%= f.label :nominee_ucsd_address, "Address*" %><br />
				<%= f.text_field :nominee_ucsd_address, size: 40 %>
			</div>
			<div class='span-4'>
				<%= f.label :nominee_ucsd_city, "City*" %><br />
				<%= f.text_field :nominee_ucsd_city, size: 18 %>
			</div>
			
			<%= f.hidden_field :nominee_ucsd_state, value: 'California' %>
			
			<div class='span-12 last'>
				<%= f.label :nominee_ucsd_zip, "Zip*" %><br />
				<%= f.text_field :nominee_ucsd_zip, size: 18 %>
			</div>

			<div class='span-8'>
				<%= f.label :nominee_ucsd_phone, "Phone*" %><br />
				<%= f.text_field :nominee_ucsd_phone %>
			</div>
			<div class='span-8 last'>
				<%= f.label :nominee_ucsd_email, "Email*" %><br />
				<%= f.text_field :nominee_ucsd_email %>
			</div>
		</div>

		<hr class='padded'/>

		<div class='padded clear'>
			<h3>Home Contact Info</h3>

			<div class='span-8'>
				<%= f.label :nominee_address, "Address*" %><br />
				<%= f.text_field :nominee_address, size: 40 %>
			</div>
			<div class='span-6'>
				<%= f.label :nominee_city, "City*" %><br />
				<%= f.text_field :nominee_city, size: 26 %>
			</div>
			
			<div class='span-6'>
				<%= f.label :nominee_state, "State*" %><br />
				<%= subregion_select(:nomination, :nominee_state, Carmen::Country.coded('US')) %>
			</div>

			<div class='span-3 last'>
				<%= f.label :nominee_zip, "Zip*" %><br />
				<%= f.text_field :nominee_zip, size: 15 %>
			</div>

			<div class='span-8'>
				<%= f.label :nominee_phone, "Phone*" %><br />
				<%= f.text_field :nominee_phone %>
			</div>
			<div class='span-8 last'>
				<%= f.label :nominee_email, "Email*" %><br />
				<%= f.text_field :nominee_email %>
			</div>
		</div>



	</div>

		<hr class='padded'/>

	<div class='clearfix'>
		<div class='span-16 border'>	
			<div class='span-8'>
				<%= f.label :nominator_letter %><br />
				<%= f.file_field :nominator_letter %>
			</div>
			<div class='span-8 last'>
				<%= f.label :nominee_resume %><br />
				<%= f.file_field :nominee_resume %>
			</div>
	
			<div class='span-8'>
				<%= f.label :nominee_transcript %><br />
				<%= f.file_field :nominee_transcript %>
			</div>
			<div class='span-8 last'>
				<%= f.label :nominee_statement %><br />
				<%= f.file_field :nominee_statement %>
			</div>
	
			<div class='span-16'>
				<%= f.label :misc_document, "Additional Document(s)"%><br /><small>*Please create a zip archive if you need to upload more than one document.</small>
				<%= f.file_field :misc_document %>
			</div>		
		</div>
		<div class='span-7 prepend-1 last'>
			<%= f.label :nominee_portrait %><br />
			<%= content_tag 'div', image_tag(@nomination.nominee_portrait.url(:thumb)), :id => 'portrait' if @nomination.nominee_portrait_file_name %>
			<%= f.file_field :nominee_portrait %>
		</div>
	</div>

	<p class='center'><em>You can save this form at any time. A confirmation email containing an update link will be sent upon any modifications to the nomination.</em></p>


	<div class='right' id="submit"><%= f.submit "Save Changes", :class => 'positive button', :onclick => "$('#nomination_submit').hide();$('#overlay').show();$('#opaque_overlay').show();$('#wait_box').show();" %></div>
<% end %>